<app-tasks-search
  (startDateChanged)="onStartDateChange($event)"
  (endDateChanged)="onEndDateChange($event)"
  (projectIdChanged)="onProjectIdChanged($event)"></app-tasks-search>
<table class="table table-bordered mt-2">
  <thead>
  <tr>
    <td>Номер</td>
    <td>Имя</td>
    <td>Описание</td>
    <td>Потраченное время</td>
    <td>Время начала</td>
    <td>Время окончания</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let task of filterTasks(tasks); let i=index;">
    <td>{{i + 1}}</td>
    <td>
      <a href="tasks/{{task.id}}">{{task.name}}</a>
    </td>
    <td *ngIf="task.comments[0].type == 1">
      <a href="/{{task.comments[0].content}}">{{task.comments[0].content}}</a>
    </td>
    <td *ngIf="task.comments[0].type == 0">
      {{task.comments[0].content}}
    </td>
    <td>{{task.spendTime}}</td>
    <td>{{getReadableDate(task.startDate)}}</td>
    <td>{{getReadableDate(task.endDate)}}</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>{{getSpentTime(filterTasks(tasks))}}</td>
  </tr>
  </tbody>
</table>
